<div class="main-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile >
      <mat-grid-tile-header>
        <span class="grid-header">Stories</span>
      </mat-grid-tile-header>
      <div id="backlog" class="grid-card-content">
        <app-backlog [backLogList]="stories"></app-backlog>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2">
     
      <div id="form">
        <form (ngSubmit)="onAddStory()">
          <div>
            <mat-form-field>
              <input matInput [(ngModel)]="story.storyName" name="storyname" placeholder="Story Name">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput [(ngModel)]="story.storyPoint" type="number" name="storyname" placeholder="Story Point">
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" [disabled]="!story.storyName || !story.storyPoint">Add Story</button>
          </div>
        </form>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="storyPointLimit" type="number" placeholder="Sprint Point">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="!storyPointLimit" (click)="onAutoSelectStory()">Auto Select Stories</button>
        </div>
        <div>
          <button mat-raised-button color="primary"  (click)="onClearAllStory()">Clear All Stories</button>
        </div>
        <div>
          <button mat-raised-button color="primary"  (click)="onClearSprint()">Clear Sprint</button>
        </div>
      </div>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>
        <span class="grid-header">Sprint</span>
      </mat-grid-tile-header>
      <div class="grid-card-content grid-card-sprint">
      <app-sprintboard [storyList]="autoSelectStories"></app-sprintboard>     
    </div> 
    </mat-grid-tile>
   
  </mat-grid-list>



</div>